{{> header}}
<h1>{{post.title}}</h1>
<p>{{post.contents}}</p>
<p>Posted by: {{post.User.username}}</p>
<p>Date: {{post.createdAt}}</p>

<h2>Comments:</h2>
<ul>
  {{#each comments}}
    <li>
      <strong>{{this.User.username}}</strong>
      <span>{{this.createdAt}}</span>
      <p>{{this.text}}</p>
    </li>
  {{/each}}
</ul>

<h2>Add a Comment:</h2>
<form action="/blog/{{post.id}}/comment" method="post">
  <textarea name="commentText" placeholder="Your comment"></textarea>
  <button type="submit">Submit</button>
</form>

{{> footer}}
