

{{!< main}}

{{> header}}

<div class="row tophead">
    <div class="col">
      <h1 class="text-center py-2" style="background-color: #007BFF; color: white;">New Post</h1>
    </div>
  </div>

<section class="hero has-background-grey-lighter hug">
    <div class="hero-body">
        <div class="container">
            
<div class="row">

<div class="col-lg-6">
        <div class="container">
    <form class="box">
        <h3 class="card-title"> Create New Blog Post</h3>
        <div class="form-group">
            <label for="title" class="label">Title</label>
            <input
                type="text"
                id="title"
                class="form-control"
                placeholder="Post Title"
                required
            />
        </div>
        <div class="form-group">
            <label for="content" class="label">Content</label>
            <textarea
                id="content"
                class="form-control"
                placeholder="Post content"
                required
            ></textarea>
        </div>
        <div class="form-group text-right mt-3">
            <button class="btn btn-success submit-post">Submit</button>
        </div>
    </form>
</div>
    </div>


    <div class="col-lg-6">
        {{#each posts}}
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{this.title}}</h4>
                        <p class="card-text">{{this.user.username}} | {{format_time this.createdAt}}</p>
                        {{!-- <p class="card-text">{{format_summary this.content}}</p> --}}
                        <a href="/edit/{{this.id}}" class="btn btn-primary">Edit</a>
                        <a class="delete-post btn btn-danger" data-id="{{this.id}}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    
</div>


            </div>
        </div>
    </div>
</section>
{{> footer}}
<script src="/public/js/dashboard.js"></script>
